# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/
.project
.settings/
.vscode/
miod_parser/.classpath
miod_parser/.settings/
miod_parser/src/main/antlr/org/miod/parser/generated/.antlr
__pycache__/